/*RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* RESET */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  color: #f3f4f6;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
}

h1 {
  font-size: 2.4em;
  margin-bottom: 0.2em;
}

h6 {
  font-size: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: inherit;
}

button {
  padding: 1em;
  border: 0;
  color: #f3f4f6;
  border-radius: 1em 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

header {
  background-color: #b2b2b2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  position: relative;
}

.brand {
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
}

.brand > p > span {
  color: red;
}

.info {
  display: flex;
  gap: 2em;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.location > i {
  color: rgb(230, 240, 82);
  font-size: 1.4em;
}

.hours {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.hours > i {
  color: rgb(184, 91, 74);
  font-size: 1.4em;
}
nav {
  background-color: #b2b2b2;
  color: #060623;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1em;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 5em;
}

.menu {
  display: flex;
  gap: 2em;
}

.menu > li:hover {
  cursor: pointer;
  color: #14c4af;
}

.menu-active {
  color: #0a66c2;
}

.social {
  display: flex;
  gap: 2em;
  font-size: 1.2em;
}

.social-fb {
  color: #129cf7;
}

.social-linkedin {
  color: #0a66c2;
}

.hero {
  background-color: #b2b2b2;
}

.hero-content {
  display: flex;
  height: 30em;
  justify-content: space-between;
  align-items: center;
}

.hero-content-left {
  flex-basis: 30%;
}

.hero-content-left > p:first-child {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2em;
  color: rgb(184, 91, 74);
}

.hero-content-left > p > span {
  font-style: italic;
  text-decoration: underline;
}

.hero-content-right {
  flex-basis: 70%;
  height: 100%;
  background-image: url('rocky.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -4em;
  background-size: contain;
}

.hero-content-right > img {
  height: 100%;
  width: 50%;
  transform: translateY(-6.2em);
  z-index: -1;
}

.cta {
  margin-top: 2em;
}

.cta > button {
  background-color: rgb(199, 41, 41);
}

.cards {
  background-color: #fff;
  display: flex;
  gap: 2em;
  margin-top: 1em;
}

.card {
  background-color: #060623;
  min-height: 15em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  background-color: inherit;
  padding: 1em;
  border-radius: 5em;
  transform: translateY(-2.7em);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.card-body {
  text-align: center;
  margin-top: -2em;
}

.card-body > p {
  margin-top: 0.5em;
}

.card-one {
  background-color: #fd4d40;
}

.card-two {
  background-color: #fdb82f;
}

.card-three {
  background-color: #14c4af;
}

footer {
  padding: 3em;
  background-color: #060623;
  text-align: center;
}
